version: '3'

services:

  mysql:
    image: mysql
    platform: linux/amd64
    restart: always
    ports:
      - 0007:3306
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: sqltocpt
      MYSQL_USER: sqltocpt
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
    networks:
      - sqltocpt

  wordpress:
    image: wordpress
    restart: always
    depends_on:
      - mysql
    ports:
      - '0047:80'
    volumes:
      - wp_data:/var/www/html/wp-content
      - .:/var/www/html/wp-content/plugins/sql-to-cpt
    environment:
      WORDPRESS_DEBUG: 1
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: sqltocpt
      WORDPRESS_DB_PASSWORD: password
    networks:
      - sqltocpt

networks:
  sqltocpt:

volumes:
  db_data:
  wp_data:
